*~
build/
src-gen/
test/org/apache/pig/test/utils/dotGraph/parser/
target/
ivy/*.jar
lib/*.jar
lib/spark/*.jar
lib/h2/*.jar
lib/hadoop2-runtime/*.jar
.eclipse.templates/*
.settings/*
pig.jar
pig-withouthadoop.jar
*.iml
*.ipr
*.iws

*.log
*.orig
*.rej
*.class
*.swp
*.classpath
*.project
*.crc
.ant-targets-build.xml
contrib/piggybank/java/piggybank.jar
conf/log4j.properties
lib/jdiff/pig_*SNAPSHOT.xml
test/resources/*.jar
dependency-reduced-pom.xml
!ivy/ant-contrib-1.0b3.jar
